<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Tapsell</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/onscroll_component.css" />
		<script src="javascripts/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="cbp-af-header">
				<div class="cbp-af-inner">
					<h1><img src="http://www.jacquelinechen.com/tapsell/images/banner_logo.png"/></h1>
					<nav>
						<a href="mailto:team@tapsell.co">Contact Us</a>
					</nav>
				</div>
			</div>

			<header class="clearfix" style="margin-top: -80px !important;">
				<h1>Introducing the best way to buy and sell stuff at UC San Diego, period.</h1>
                <img src="http://www.jacquelinechen.com/tapsell/images/Main_Image.png" width="700" height="auto"/>
                <br/><br/>
			</header>	
            
            
			<div class="main" id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section" style="padding-top: 4em; padding-bottom: 4em;">
					<div>
                    <article class="cbp-so-side cbp-so-side-left">
                    <h3><p></p><p></p>Awesome deals...</h3><p>100% local. Save money by buying and selling with the San Diego community.</p></div>
                    	</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="http://www.jacquelinechen.com/tapsell/images/Listing_iPad.png"/>
					</figure>
				</section>
                
                
				<section section class="cbp-so-section" style="padding-top: 4em; padding-bottom: 4em;">
                    <figure class="cbp-so-side cbp-so-side-left">
						<img src="http://www.jacquelinechen.com/tapsell/images/PostListing_iPad.png"/>
					</figure>
                    <div>
					<article class="cbp-so-side cbp-so-side-right">
                    <h3><p></p><p></p>...posted at super speed...</h3><p>Posting is fast and simple. We can automagically post your item to Craigslist and Free & For Sale, too.</p></div>
                    </article>
				</section>
                
                
                
				<div class="main" id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section" style="padding-top: 4em; padding-bottom: 4em; background: #a7cbc9 !important; color: #fff;">
					<div>
                    <article class="cbp-so-side cbp-so-side-left">
					 <h3><p></p><p></p>...with no creeps or flakes.</h3><p>Profiles, reviews, and in-app payments keep everybody honest, creating a fun and safe community.</p></div>
                     	</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="http://www.jacquelinechen.com/tapsell/images/UserProfile_iPad.png"/>
					</figure>
				</section>



				<section style="background: #fff!important; color: #777;">
					<div><table width="100%"><tr><td width="50%"><p style="text-transform: uppercase !important; font-size: 0.8em !important; font-family: 'Sanchez', serif !important; letter-spacing: 0.1em; text-align: left;"<span style="font-family: Helvetica, sans-serif; !important">♡,</span> team @ tapsell</p></td>
                    <td width="50%"><p style="text-transform: uppercase !important; font-size: 0.8em !important; font-family: 'Sanchez', serif !important; letter-spacing: 0.1em; text-align: right;">Copyright <span style="font-family: Helvetica, sans-serif; !important">©</span> 2014 Tapsell</p></td></table>
				</section>
				
			</div>
		</div>
		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="javascripts/classie.js"></script>
		<script src="javascripts/cbpAnimatedHeader.min.js"></script>
        		<script src="javascripts/classie.js"></script>
		<script src="javascripts/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

